
.header {
    padding: 30px;
    color: white;
    font-family: 'Bebas Neue', cursive;;
    position: relative;
    width: 100%;
}

.header::after {
    content: "";
    background-image: url(assets/lucie-hosova-oQjZm6HUPQ8-unsplash.jpg);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    opacity: 1;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;   
  }

.header a {
    text-decoration: none;
    display: inline;
    color: white;
}

.header a,p {
    font-size: larger;
}

.tagline {
    font-style: italic;
    font-family: 'Quicksand';
    font-size: 1.5rem;
}
#headshot {
    padding: 10px;
    width: 300px;
    margin: 10px;
}
.icon-bar {
    width: 100%;
    background: #143427;
    margin-bottom: 10px;
}
.icon-bar a {
    color: white;
    padding: 10px;
    /*transition: all 0.3s ease;*/
    font-size: 40px;
    transition: opacity .5s;
  }

  .icon-bar a:hover {
      opacity: .5;
  }
h3 {
    font-family: "Quicksand", sans-serif;
    font-size: 100px;
}
h6 {
    margin-top: 10px;
}
.around-the-web {
    width: 40%;
    padding: 5%;
}
@media screen and (max-width: 1090px) {
    h3 {
        font-size: 125px;
        margin-top: -8px;
    }
    #about {
        padding-top: 16px;
    }
}
@media screen and (max-width: 870px) {
    h3 {
        font-size: 175px;
        margin-top: -24px;
    }
    #about {
        padding-top: 24px;
    }
}
@media screen and (max-width: 650px) {
    h3 {
        font-size: 200px;
    }
    #about {
        padding-top: 16px;
    }
}
@media screen and (max-width: 610px) {
    h3 {
        display: none;
    }
    #about {
        padding-top: 8px;
    }
}
.description {
    font-size: 18px;
    font-weight: bold;
    font-family: "Quicksand", sans-serif;
    display: inline;
}
h4 {
    color: #143427;
    font-family: "Oxygen", sans-serif;
}
h5 {
    color: #143427;
    font-family: "Quicksand", sans-serif;
    font-weight: bold;
}

h5 a {
    color: #143427;
    text-decoration: underline;
}

h5 a:hover {
    color: #143427;
    text-decoration: underline;    
}
.card {
    border: solid 1px #143427;
    height: 100%;
}

.core-values {
    background: #143427;
    color: white;
}
h2 {
    font-family: 'Bebas Neue', cursive;
}
.core-values h5 {
    color: white;
}
.card-link {
    color: #143427;
}
.card-link:hover {
    color: black;
}

button {
    border: solid 1px #143427;
    background-color: #143427;
    color: white;
}

button a {
    text-decoration: none;
    color: white;
}

button a:hover {
    text-decoration: none;
    color: white;
}

.footer {
    background: #143427;
    color: white;
    font-family: "Quicksand", sans-serif;
}
